html {
    overflow: auto;
}
#theBar {
    display:none;
}
.map {
    top:0px;
}
#__CONTROL_ATTRIBUTION__ {
    background-color:transparent;
    color: #000000;
    font-size: 0.9em;
}
.olControlAttribution {
    left:10px;
    bottom:30px;
    height:18px;
    width:auto;
    max-width:600px;
    text-align:left;
}

/* Navigation */
.tbnwh {
    top:50px;
    left:30px;
    background-color:#E4E4E4;
    color:#000;
    border:1px solid #fff;
}