
/*
 * Roboto fonts
 */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("//ssl.gstatic.com/fonts/roboto/v10/Pru33qjShpZSmG3z6VYwnbO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("//ssl.gstatic.com/fonts/roboto/v10/Xu_FYwbs8k0teWf0uC8JpevvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("//ssl.gstatic.com/fonts/roboto/v10/oOeFwZNlrTefzLYmlVV1ULO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("//ssl.gstatic.com/fonts/roboto/v10/97uahxiqZRoncBaCEI3aW7O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}


/*
 * General styles
 */
body {
    font-family: Roboto,Arial,sans-serif;
    font-weight: 300;
}
.fixed {
    position:fixed;
}
.center {
    text-align: center;
}
.padded-bottom {
    padding-bottom:10px;
}
.clearable{
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAKQWlDQ1BJQ0MgUHJvZmlsZQAASA2dlndUU9kWh8+9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a/cdZ39nnt9fZZ+9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU/L09mZmoSMaz9u4ugGS72yy/UCZz1v9/kSI3QyQGAApF1TY8fiYX5QKUU7PFGTL/BMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0/icTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ+SKBIlJYqYR15hp5ejIZvrxs1P5YjErlMNN4Yh4TM/0tAyOMBeAr2+WRQElWW2ZaJHtrRzt7VnW5mj5v9nfHn5T/T3IevtV8Sbsz55BjJ5Z32zsrC+9FgD2JFqbHbO+lVUAtG0GQOXhrE/vIADyBQC03pzzHoZsXpLE4gwnC4vs7GxzAZ9rLivoN/ufgm/Kv4Y595nL7vtWO6YXP4EjSRUzZUXlpqemS0TMzAwOl89k/fcQ/+PAOWnNycMsnJ/AF/GF6FVR6JQJhIlou4U8gViQLmQKhH/V4X8YNicHGX6daxRodV8AfYU5ULhJB8hvPQBDIwMkbj96An3rWxAxCsi+vGitka9zjzJ6/uf6Hwtcim7hTEEiU+b2DI9kciWiLBmj34RswQISkAd0oAo0gS4wAixgDRyAM3AD3iAAhIBIEAOWAy5IAmlABLJBPtgACkEx2AF2g2pwANSBetAEToI2cAZcBFfADXALDIBHQAqGwUswAd6BaQiC8BAVokGqkBakD5lC1hAbWgh5Q0FQOBQDxUOJkBCSQPnQJqgYKoOqoUNQPfQjdBq6CF2D+qAH0CA0Bv0BfYQRmALTYQ3YALaA2bA7HAhHwsvgRHgVnAcXwNvhSrgWPg63whfhG/AALIVfwpMIQMgIA9FGWAgb8URCkFgkAREha5EipAKpRZqQDqQbuY1IkXHkAwaHoWGYGBbGGeOHWYzhYlZh1mJKMNWYY5hWTBfmNmYQM4H5gqVi1bGmWCesP3YJNhGbjS3EVmCPYFuwl7ED2GHsOxwOx8AZ4hxwfrgYXDJuNa4Etw/XjLuA68MN4SbxeLwq3hTvgg/Bc/BifCG+Cn8cfx7fjx/GvyeQCVoEa4IPIZYgJGwkVBAaCOcI/YQRwjRRgahPdCKGEHnEXGIpsY7YQbxJHCZOkxRJhiQXUiQpmbSBVElqIl0mPSa9IZPJOmRHchhZQF5PriSfIF8lD5I/UJQoJhRPShxFQtlOOUq5QHlAeUOlUg2obtRYqpi6nVpPvUR9Sn0vR5Mzl/OX48mtk6uRa5Xrl3slT5TXl3eXXy6fJ18hf0r+pvy4AlHBQMFTgaOwVqFG4bTCPYVJRZqilWKIYppiiWKD4jXFUSW8koGStxJPqUDpsNIlpSEaQtOledK4tE20Otpl2jAdRzek+9OT6cX0H+i99AllJWVb5SjlHOUa5bPKUgbCMGD4M1IZpYyTjLuMj/M05rnP48/bNq9pXv+8KZX5Km4qfJUilWaVAZWPqkxVb9UU1Z2qbapP1DBqJmphatlq+9Uuq43Pp893ns+dXzT/5PyH6rC6iXq4+mr1w+o96pMamhq+GhkaVRqXNMY1GZpumsma5ZrnNMe0aFoLtQRa5VrntV4wlZnuzFRmJbOLOaGtru2nLdE+pN2rPa1jqLNYZ6NOs84TXZIuWzdBt1y3U3dCT0svWC9fr1HvoT5Rn62fpL9Hv1t/ysDQINpgi0GbwaihiqG/YZ5ho+FjI6qRq9Eqo1qjO8Y4Y7ZxivE+41smsImdSZJJjclNU9jU3lRgus+0zwxr5mgmNKs1u8eisNxZWaxG1qA5wzzIfKN5m/krCz2LWIudFt0WXyztLFMt6ywfWSlZBVhttOqw+sPaxJprXWN9x4Zq42Ozzqbd5rWtqS3fdr/tfTuaXbDdFrtOu8/2DvYi+yb7MQc9h3iHvQ732HR2KLuEfdUR6+jhuM7xjOMHJ3snsdNJp9+dWc4pzg3OowsMF/AX1C0YctFx4bgccpEuZC6MX3hwodRV25XjWuv6zE3Xjed2xG3E3dg92f24+ysPSw+RR4vHlKeT5xrPC16Il69XkVevt5L3Yu9q76c+Oj6JPo0+E752vqt9L/hh/QL9dvrd89fw5/rX+08EOASsCegKpARGBFYHPgsyCRIFdQTDwQHBu4IfL9JfJFzUFgJC/EN2hTwJNQxdFfpzGC4sNKwm7Hm4VXh+eHcELWJFREPEu0iPyNLIR4uNFksWd0bJR8VF1UdNRXtFl0VLl1gsWbPkRoxajCCmPRYfGxV7JHZyqffS3UuH4+ziCuPuLjNclrPs2nK15anLz66QX8FZcSoeGx8d3xD/iRPCqeVMrvRfuXflBNeTu4f7kufGK+eN8V34ZfyRBJeEsoTRRJfEXYljSa5JFUnjAk9BteB1sl/ygeSplJCUoykzqdGpzWmEtPi000IlYYqwK10zPSe9L8M0ozBDuspp1e5VE6JA0ZFMKHNZZruYjv5M9UiMJJslg1kLs2qy3mdHZZ/KUcwR5vTkmuRuyx3J88n7fjVmNXd1Z752/ob8wTXuaw6thdauXNu5Tnddwbrh9b7rj20gbUjZ8MtGy41lG99uit7UUaBRsL5gaLPv5sZCuUJR4b0tzlsObMVsFWzt3WazrWrblyJe0fViy+KK4k8l3JLr31l9V/ndzPaE7b2l9qX7d+B2CHfc3em681iZYlle2dCu4F2t5czyovK3u1fsvlZhW3FgD2mPZI+0MqiyvUqvakfVp+qk6oEaj5rmvep7t+2d2sfb17/fbX/TAY0DxQc+HhQcvH/I91BrrUFtxWHc4azDz+ui6rq/Z39ff0TtSPGRz0eFR6XHwo911TvU1zeoN5Q2wo2SxrHjccdv/eD1Q3sTq+lQM6O5+AQ4ITnx4sf4H++eDDzZeYp9qukn/Z/2ttBailqh1tzWibakNml7THvf6YDTnR3OHS0/m/989Iz2mZqzymdLz5HOFZybOZ93fvJCxoXxi4kXhzpXdD66tOTSna6wrt7LgZevXvG5cqnbvfv8VZerZ645XTt9nX297Yb9jdYeu56WX+x+aem172296XCz/ZbjrY6+BX3n+l37L972un3ljv+dGwOLBvruLr57/17cPel93v3RB6kPXj/Mejj9aP1j7OOiJwpPKp6qP6391fjXZqm99Oyg12DPs4hnj4a4Qy//lfmvT8MFz6nPK0a0RupHrUfPjPmM3Xqx9MXwy4yX0+OFvyn+tveV0auffnf7vWdiycTwa9HrmT9K3qi+OfrW9m3nZOjk03dp76anit6rvj/2gf2h+2P0x5Hp7E/4T5WfjT93fAn88ngmbWbm3/eE8/syOll+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAzElEQVQoFXWRSw7CQAxDp6BeoIgF4ldxZDZdcCtAXSCg4iLAc4mHFolIVjyOM02mKX2iiKw0+cOzJxOMVZinZEEhzR7nlMqy3IOOYg0ca7QraBC+Zg4V4h28wI3zCizgl9AenOegD8+8pajb1HQGx+D66u7Hm+ddYjqFUY0txk2Y+518e2jpCXn5EFzaKNykBT1zC9dY3qmODnvTjKLn18waQ+MNtby0mguKDdBreEHpeogOHOD5dr+vsm8Z/jhpNts7+iku4stG8d78BksCJ66zlTABAAAAAElFTkSuQmCC') no-repeat right -10px center;
    border:1px solid #999;
    padding:3px 18px 3px 4px; /* USE the same right padding in jQ! */
    border-radius:3px;
    transition: background 0.4s; /*Remove this line if issues in Chrome (02.2014)*/
}
.clearable.x{
    background-position: right 5px center;
}
.clearable.onX{
    cursor:pointer;
}
.facebook {
    color:#3B5998;
}
.twitter {
    color:#4099FF;
}
.rss {
    color:#FF6600;
}
/*
 * Enlarge foundation row for big displays
 */
.row {
    max-width: 1280px;
}

/*
 * Responsive topbar
 */
header {
    background-color: #000;
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#logo{
    color:#fff;
    margin: 0 20px;
    float: left;
    height: 35px;
    line-height: 35px;
    display: block;
}

nav {
    float: right;
    position: relative;
}
nav ul {
    padding: 0 10px 0 0;
    margin: 0 auto;
}
nav li {
    display: inline;
    float: left;
    color:#fff;
    padding:5px 10px;
    font-size:1.5em;
}
nav li.link {
    cursor:pointer;
}
nav li.link:hover {
    background-color:lightgray;
}
nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding:0 10px;
    line-height: 35px;
}
nav a:active {
    background-color: #FF0000;
}
nav a#pull {
    display: none;
}

.footer{
    height: 50px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}

/*
 * Styles for screen 480px and lower
 */
@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpi/P//PwM1AQsQU9VEJgYqg8FvICgMGUeel0eTzWiyGU02Qz/ZAAQYAOPcBjEdYroKAAAAAElFTkSuQmCC') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    /*
     * Hide mapshup for small screens
     */
    .resto-queryanalyze, .mapshup-block-fixed, .resto-addLayer, .centerOnFeature {
        display:none;
    }
    #mapshup.fixed, #mapshup-tools.fixed {
        top:-99999px;
        left:-99999px;
    }
    .resto-search.fixed {
        top:10%;
        left:10%;
        width:80%;
        z-index:30000;
    }
}

/* 
 * Smartphone
 */
@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #576979;
    }
}


/*
 * RESTo CSS
 */
.resto-entry {
    text-align:center;
    border-bottom:1px solid lightgrey;
}
.resto-entry.selected {
    background-color:lightgray;
}
.resto-entry .platform {
    font-weight: bold;
}
.resto-entry img {
    border-radius:0px;
    height:200px;
    box-shadow:#000 1px 1px 4px; 
}
.resto-keywords {
    font-size: 14px;
}

.resto-actions {
    font-size: 2em;
}
.resto-actions a {
    color:#000;
    padding:0 10px;
}

.resto-search {
    position:relative;
    top:5px;
    left:25px;
    line-height:1em;
    width: 450px;
    z-index:30000;
}
.resto-search.fixed {
    position:fixed;
    top:55px;
}
.resto-search input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    box-shadow:#000 1px 1px 4px;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0) -moz-use-text-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-radius: 2px 0 0 2px;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    height: 32px;
    outline: medium none;
    padding: 0 7px;
    vertical-align: top;
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    width:100%;
}
.resto-queryanalyze {
    position:fixed;
    top:95px;
    left:40px;
    font-size:12px;
    font-weight: 300;
    text-shadow:1px 1px 1px #000; 
    color:#fff;
    z-index:30000;
}

.resto-keywords table {
    width:90%;
    margin:10px 5%;
}
.resto-keywords table td {
    vertical-align:top;
    text-align:left;
}
.resto-keywords table td.title {
    white-space: nowrap;
}

a.resto-keyword {
    font-weight: 400;
}
a.resto-keyword-forest {
    color:darkgreen;
}
a.resto-keyword-water {
    color:darkblue;
}
a.resto-keyword-flooded {
    color:blue;
}
a.resto-keyword-urban {
    color:darkgrey;
}
a.resto-keyword-cultivated {
    color:orange;
}
a.resto-keyword-desert {
    color:red;
}
a.resto-keyword-snow {
    color:lightgray;
}
a.resto-keyword-herbaceous  {
    color:green;
}

/*
 * mapshup 
 */
#mapshup {
    position:relative;
    top:0px;
    height:310px;
    width:100%;
    margin:auto;
    overflow:hidden;
    border-bottom: 2px solid #fff;
    z-index:1000;
}
#mapshup.fixed {
    position:fixed;
    top:35px;
}
#mapshup-tools {
    position:relative;
    top:310px;
    height:40px;
    width:100%;
    text-align:center;
    margin:auto;
    background-color:#2BA6CB;
    z-index:1000;
    display: table;
}
#mapshup-tools ul {
    display: table-row;
}
#mapshup-tools li {
    font-size:1.5em;
    color:#fff;
    display: table-cell;
    cursor:pointer;
    margin: 0;
    line-height:40px;
    border-bottom: 2px solid #fff;
}
#mapshup-tools li.black {
    color:#000;
}
#mapshup-tools li:hover {
    background-color:darkgrey;
}
#mapshup-tools.fixed {
    position:fixed;
    top:345px;
}
.mapshup-block-fixed {
    height:300px;
}
.mobile-block-fixed {
    height:100px;
}
#mapshup #theBar {
    display:none;
}
#mapshup #__CONTROL_ATTRIBUTION__ {
    background-color:transparent;
    color: #000000;
    font-size: 0.9em;
}   
.olControlAttribution {
    left:10px;
    bottom:30px;
    height:18px;
    width:auto;
    max-width:600px;
    text-align:left;
}
